html {
    font-family: sans-serif;
    background-color: #EFEFEF;
}

body {
    margin: 0px;
}

.new-channel {
    border-bottom: 1px black solid;
    padding: 6px;
    margin-bottom: 6px;
    background-color: #CFFFCF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
}

#new-channel-form {
    margin-left: 6px;
    display: inline-block;
}

#channels {
    margin-top: 3em;
    margin-left: 10px;
    margin-right: 10px;
}

.channel {
    border: 1px solid black;
    border-radius: 3px;
    margin: 6px;
}

summary {
    padding: 4px;
    padding-left: 8px;
    background-color:  #D5FFFF;;
}

.filter {
    margin-left: 10px;
    margin-right: 10px;;
}

.filter-error {
    color: darkred;
}

.lines {
    border-top: 1px solid black;
    font-family: monospace, monospace;
    height: 30rem;
    white-space: pre;
    overflow: scroll;
    padding: 4px;
    font-size: 0.8em;
    background-color: #fff;
}

.lines * {
    overflow-anchor: none;
}

.anchor {
    overflow-anchor: auto;
    height: 3px;
}

.line {
}

.event {
    border: 1px solid black;
    background-color: lightblue;
    padding: 3px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}
